<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Todo app</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Todo Ticker</h1>
    <ul class="todoList">
      <% for (let i = 0; i < todos.length; i++){ %>
        <li class="todo <%=todos[i].complete %> <% if (todos[i].priority) {%> priority <%}%>" data-id= <%=todos[i]._id %>>
            <span class="todoTask <%=todos[i].complete %>"><%=todos[i].task %> </span>
                    <input type="checkbox" class="toggle" id=<%=todos[i]._id %> name="<%=todos[i].task %>"
                    <% if (todos[i].complete) {%> checked
                      <% } %> 
                    >
                    
            </span>
            <span class="priority" title="toggle priority"><% if (todos[i].priority) {%> ⭐️
              <% } else {%> ✩
                  <% } %> </span>
          <span class="delete" title="delete item">🗑️</span>
          </li>    
      <% } %>
    </ul>

    <form action="/todo/" method="POST" >
        <input name="task" type="text" placeholder="Add a todo">
        <input type="submit">
    </form>

    <h2><%= count %> items remaining</h2>
    <button class="pickRandom">Random task</button>
      <script src="main.js" defer></script>
  </body>
</html>
